# Arquivos de ambiente
jwt.env
*.env
.env

# Compilados do Go
api
main
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/
/dist/

# Arquivos de teste e cobertura
*.out
*.test
coverage.txt

# Pastas de IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
